---
import MainLayout from "../layouts/main-layout.astro";
import { LuShoppingCart } from "react-icons/lu";


const services = [
  {
    img: "public/Bikinis/1.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/25175923305384976/51965793184"
  },
  {
    img: "public/Bikinis/2.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7572180942803163/51965793184"
  },
  {
    img: "public/Bikinis/3.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "55.00",
    link: "https://wa.me/p/6844090725697252/51965793184sol"
  },
  {
    img: "public/Bikinis/4.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/6578199455616963/51965793184"
  },
  {
    img: "public/Bikinis/5.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/7676408055726409/51965793184"
  },
  {
    img: "public/Bikinis/6.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/24806832158960300/51965793184"
  },
  {
    img: "public/Bikinis/7.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/7109409659134840/51965793184"
  },
  {
    img: "public/Bikinis/8.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "60.00",
    link: "https://wa.me/p/7383260158460409/51965793184"
  },
  {
    img: "public/Bikinis/9.1.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/7334504279974586/51965793184"
  },
  {
    img: "public/Bikinis/9.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/25073731418940962/51965793184"
  },
  {
    img: "public/Bikinis/10.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/11.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/12.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/13.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/14.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/48.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/52.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/53.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/55.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/56.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/59.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
  {
    img: "public/Bikinis/60.png",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "12.00",
    link: "https://react-icons.github.io/react-icons/search/#q=sol"
  },
];
---

<MainLayout title="Bikinis">
  <!-- Banner Section -->

  <section
    class="w-full bg-about bg-center bg-cover h-[50vh] flex justify-center items-end"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white/70 rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-[#7e0000]"
      >
        Bikinis
      </h1>
    </div>
  </section>

  <!-- Services Section -->

  <!-- <section
    class="lg:max-w-[1200px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-5 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-between"
  >
    {
      services.map((service) => {
        return (
          <div class="w-full col-span-1 max-w-[358px] mx-auto flex rounded-[30px] hover:bg-primary-100/50 bg-[#7e0000]/5 px-5 py-[40px] flex-col justify-center items-center gap-3 md:gap-5">
            <img src={service.img} class="rounded-xl" />
            <h3 class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose">
              {service.title}
            </h3>
            <p class="text-base md:text-[22px] tracking-tight font-jost text-text-gray leading-[33px] text-center">
              {" "}
              {service.text}
            </p>
          </div>
        );
      })
    }
  </section> -->

  <section
  class="lg:max-w-[1200px] grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-5 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-between"
>
  {
    services.map((service) => {
      return (
        <div class="w-[150px] lg:w-full md:w-full col-span-1 max-w-[358px] mx-auto flex rounded-md  hover:bg-[#7e0000]/10 px-1 lg:px-2 py-2 bg-[#f6ebdd]/20   flex-col justify-center items-center gap-2 md:gap-5">
          <div>
            <img
              src={service.img}
              class="rounded-md object-cover object-center"
            />
          </div>
          {/* <h3 class="text-text-blue font-dm text-[22px] md:text-[25px] leading-loose">
            {service.title}
          </h3> */}

          <p class="md:text-[22px] tracking-tight font-jost text-[#7e0000] leading-[33px] text-center  rounded-full px-3 flex gap-2 font-semibold items-center">
            {" "}
            <img
              src={service.priceIco}
              class="object-contain object-center w-6 h-6"
            />
            {service.price}
          </p>

          <p class="md:text-[22px] tracking-tight leading-[33px] text-center rounded-xl px-3 text-text-blue font-jost">
            {" "}
            {service.text}
          </p>

          <p class="flex items-center gap-4 hover:bg-white p-2 rounded-xl">
            <LuShoppingCart className="text-[#7e0000] text-2xl" />
            <a
              href={service.link}
              class="font-jost text-xl font-medium text-text-blue"
            >
              Comprar
            </a>
          </p>
        </div>
      );
    })
  }
</section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
