---
import MainLayout from "../layouts/main-layout.astro";
import { LuShoppingCart } from "react-icons/lu";

const services = [
  {
    img: "/Bikinis/bikini1.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7592069657525689/51965793184"
  },

  {
    img: "/Bikinis/bikini2.png",
    title: "Tallas",
    text: "M - LXXL",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7411638732296394/51965793184"
  },
  {
    img: "/Bikinis/bikini3.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7203088799793331/51965793184"
  },
  {
    img: "/Bikinis/bikini4.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7602375013184125/51965793184"
  },
  {
    img: "/Bikinis/bikini5.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/7663401033746379/51965793184"
  },
  {
    img: "/Bikinis/bikini6.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/8330898066939181/51965793184"
  },
  {
    img: "/Bikinis/bikini7.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/7700640683352522/51965793184"
  },
  {
    img: "/Bikinis/bikini8.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/26091420727138457/51965793184"
  },
  {
    img: "/Bikinis/bikini9.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/8057643870934811/51965793184"
  },
  {
    img: "/Bikinis/bikini10.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "75.00",
    link: "https://wa.me/p/7744858552228347/51965793184"
  },
  {
    img: "/Bikinis/bikini11.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "70.00",
    link: "https://wa.me/p/7886545304773395/51965793184"
  },
  {
    img: "/Bikinis/bikini12.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/7553745658078179/51965793184"
  },
  {
    img: "/Bikinis/bikini13.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7936631886375462/51965793184"
  },
  {
    img: "/Bikinis/bikini14.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7592069657525689/51965793184"
  },

  {
    img: "/Bikinis/bikini16.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "/icons/icoprice.png",
    price: "120.00",
    link: "https://wa.me/p/7861331247258355/51965793184"
  },

  {
    img: "/Bikinis/bikini17.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "120.00",
    link: "https://wa.me/p/7206055662833312/51965793184"
  },

  // Bikins 2

  {
    img: "/Bikins2/bikinis1.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "120.00",
    link: "https://wa.me/p/25912137401733385/51965793184"
  },
  {
    img: "/Bikins2/bikinis2.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "100.00",
    link: "https://wa.me/p/25747892178190669/51965793184"
  },

  {
    img: "/Bikins2/bikinis3.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "120.00",
    link: "https://wa.me/p/8085925468094151/51965793184"
  },
  {
    img: "/Bikins2/bikinis4.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "100.00",
    link: "https://wa.me/p/25747892178190669/51965793184"
  },
  {
    img: "/Bikins2/bikinis5.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "120.00",
    link: "https://wa.me/p/8036523873034412/51965793184"
  },
  {
    img: "/Bikins2/bikinis6.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "100.00",
    link: "https://wa.me/p/25921955004117592/51965793184"
  },
  {
    img: "/Bikins2/bikinis7.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "100.00",
    link: "https://wa.me/p/7645961048803993/51965793184"
  },
  {
    img: "/Bikins2/bikinis8.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "100.00",
    link: "https://wa.me/p/7565605253553063/51965793184"
  }
];
---

<MainLayout title="Bikinis">
  <!-- Banner Section -->

  <section
    class="w-full bg-about bg-center bg-cover h-[50vh] flex justify-center items-end"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white/70 rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-[#7e0000]"
      >
        Bikinis
      </h1>
    </div>
  </section>

  <section
    class="lg:max-w-[1200px] grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-5 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-evenly"
  >
    {
      services.map((service) => {
        return (
          <div class="w-[170px] lg:w-full md:w-full col-span-1 max-w-[358px] mx-auto flex rounded-md  hover:bg-[#7e0000]/10 px-2 lg:px-4 py-2 bg-[#f6ebdd]/20   flex-col justify-center items-center gap-2 md:gap-5 md:px-4 md:py-4">
            <div class="w-full h-full">
              <img
                src={service.img}
                class="rounded-md object-cover object-center w-full h-full"
              />
            </div>
            <p class="md:text-[22px] tracking-tight font-jost text-[#7e0000] leading-[33px] text-center  rounded-full px-3 flex gap-2 font-semibold items-center">
              {" "}
              <img
                src={service.priceIco}
                class="object-contain object-center w-6 h-6"
              />
              {service.price}
            </p>

            <p class="md:text-[22px] tracking-tight leading-[33px] text-center rounded-xl px-3 text-text-blue font-jost">
              {" "}
              {service.text}
            </p>

            <p class="flex items-center gap-4 hover:bg-white p-2 rounded-xl">
              <LuShoppingCart className="text-[#7e0000] text-2xl" />
              <a
                href={service.link}
                class="font-jost text-xl font-medium text-text-blue"
              >
                Comprar
              </a>
            </p>
          </div>
        );
      })
    }
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
