---
import MainLayout from "../layouts/main-layout.astro";
import { LuShoppingCart } from "react-icons/lu";

const services = [
  {
    img: "/Disfraces/disfraces1.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/5925680704222638/51965793184"
  },

  {
    img: "/Disfraces/disfraces2.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7753371591389103/51965793184"
  },

  {
    img: "/Disfraces/disfraces3.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/8258166680863090/51965793184"
  },

  {
    img: "/Disfraces/disfraces4.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7839920059381146/51965793184"
  },

  {
    img: "/Disfraces/disfraces5.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/7541552422589709/51965793184"
  },

  {
    img: "/Disfraces/disfraces6.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/7441217375991080/51965793184"
  },

  {
    img: "/Disfraces/disfraces7.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/7719441081458547/51965793184"
  },

  {
    img: "/Disfraces/disfraces8.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/7904633602927253/51965793184"
  },

  {
    img: "/Disfraces/disfraces9.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "85.00",
    link: "https://wa.me/p/7318488944946477/51965793184"
  },

  {
    img: "/Disfraces/disfraces10.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/7590430294327896/51965793184"
  },

  {
    img: "/Disfraces/disfraces11.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "80.00",
    link: "https://wa.me/p/26230782623175645/51965793184"
  },

  {
    img: "/Disfraces/disfraces12.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "/icons/icoprice.png",
    price: "89.00",
    link: "https://wa.me/p/7760186490728007/51965793184"
  }
];
---

<MainLayout title="Disfraces">
  <!-- Banner Section -->

  <section
    class="w-full bg-contact bg-start bg-cover h-[50vh] flex justify-center items-end"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white/70 rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-[#7e0000]"
      >
        Disfraces
      </h1>
    </div>
  </section>

  <section
    class="lg:max-w-[1200px] grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 lg:gap-y-5 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-evenly"
  >
    {
      services.map((service) => {
        return (
          <div class="w-[170px] lg:w-full md:w-full col-span-1 max-w-[358px] mx-auto flex rounded-md  hover:bg-[#7e0000]/10 px-2 lg:px-4 py-2 bg-[#f6ebdd]/20   flex-col justify-center items-center gap-2 md:gap-5 md:px-4 md:py-4">
            <div class="w-full h-full">
              <img
                src={service.img}
                class="rounded-md object-cover object-center w-full h-full"
              />
            </div>
            <p class="md:text-[22px] tracking-tight font-jost text-[#7e0000] leading-[33px] text-center  rounded-full px-3 flex gap-2 font-semibold items-center">
              {" "}
              <img
                src={service.priceIco}
                class="object-contain object-center w-6 h-6"
              />
              {service.price}
            </p>

            <p class="md:text-[22px] tracking-tight leading-[33px] text-center rounded-xl px-3 text-text-blue font-jost">
              {" "}
              {service.text}
            </p>

            <p class="flex items-center gap-4 hover:bg-white p-2 rounded-xl">
              <LuShoppingCart className="text-[#7e0000] text-2xl" />
              <a
                href={service.link}
                class="font-jost text-xl font-medium text-text-blue"
              >
                Comprar
              </a>
            </p>
          </div>
        );
      })
    }
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
