---
import MainLayout from "../layouts/main-layout.astro";
import { LuShoppingCart } from "react-icons/lu";

const services = [
  {
    img: "/public/Lenceria/lenceria1.png",
    title: "Tallas",
    text: "XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7784356251586987/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria2.png",
    title: "Tallas",
    text: "XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/26029442286640068/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria3.png",
    title: "Tallas",
    text: "XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7308207842621481/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria4.png",
    title: "Tallas",
    text: "XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/5918465001611057/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria6.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25672142962400834/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria7.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7469745189804913/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria8.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7915804958471741/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria9.png",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7880894768640617/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria10.png",
    title: "Tallas",
    text: "L",
    priceIco: "src/icons/ico.Price.png",
    price: "89.00",
    link: "https://wa.me/p/6984725961627273/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria11.png",
    title: "Tallas",
    text: "M",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7633383696695070/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria12.png",
    title: "Tallas",
    text: "L",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7786502874703151/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria13.png",
    title: "Tallas",
    text: "M",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/26392052623715294/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria14.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25981166638164451/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria15.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7984840838201141/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria16.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7505552006210578/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria17.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7339044639539528/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria18.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7544588005630386/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria19.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "89.00",
    link: "https://wa.me/p/7581979741885444/51965793184"
  },

  {
    img: "/public/Lenceria/lenceria20.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7919880511365574/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria21.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7610863242360319/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria22.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "68.00",
    link: "https://wa.me/p/7653837281375192/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria23.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "90.00",
    link: "https://wa.me/p/25613823791596263/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria24.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25966208929631020/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria25.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7700054956726390/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria26.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7552643361518559/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria27.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25657128343934527/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria28.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "89.00",
    link: "https://wa.me/p/26528743486725013/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria29.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/25626515090297795/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria30.png",
    title: "Tallas",
    text: "M",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7920616577972165/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria31.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7479384742160007/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria32.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25629965949984106/51965793184"
  },
  {
    img: "/public/Lenceria/lenceria33.png",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/6910363449066639/51965793184"
  },

  // Lenceria segundo bloque de imagenes..
  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.20 (1).jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7552643361518559/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.21 (2).jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "74.90",
    link: "https://wa.me/p/7346814882100249/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.24.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7393860197408237/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.25.jpeg",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7441688499283271/51965793184"
  },
  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.26 (1).jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "89.00",
    link: "https://wa.me/p/7602388143186411/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.27 (3).jpeg",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7602388143186411/51965793184"
  },
  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.27.jpeg",
    title: "Tallas",
    text: "M - L - XL - XXL",
    priceIco: "src/icons/ico.Price.png",
    price: "69.00",
    link: "https://wa.me/p/7777069379020343/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.29.jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7694676140616639/51965793184"
  },
  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.30 (1).jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7698220516912366/51965793184"
  },
  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.30 (2).jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7692002770861452/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.31.jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7767188780038416/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.32 (3).jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7681731018541327/51965793184"
  },

  {
    img: "public/Lenceria2/WhatsApp Image 2024-06-03 at 21.17.33.jpeg",
    title: "Tallas",
    text: "M - L - XL",
    priceIco: "src/icons/ico.Price.png",
    price: "75.00",
    link: "https://wa.me/p/7578756468881680/51965793184"
  },

  // Lenceria 3

  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 21.19.21 (1).jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "85.00",
    link: "https://wa.me/p/7390089424450390/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.10.20.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/8589869401028294/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 21.19.25.jpeg",
    title: "Tallas",
    text: "M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7605916256189720/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.00.jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "70.00",
    link: "https://wa.me/p/8493713563978164/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.01 (1).jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7538987096220599/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.01 (2).jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/8400155333333393/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.01 (3).jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "65.00",
    link: "https://wa.me/p/7566286596787102/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.01 (4).jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/7301640766630851/51965793184"
  },
  {
    img: "public/Lenceria3/WhatsApp Image 2024-06-11 at 22.15.01.jpeg",
    title: "Tallas",
    text: "S - M - L",
    priceIco: "src/icons/ico.Price.png",
    price: "80.00",
    link: "https://wa.me/p/25587868290861270/51965793184"
  }
];
---

<MainLayout title="Lencería">
  <!-- Banner Section -->

  <section
    class="w-full bg-services bg-center bg-cover h-[50vh] flex justify-center items-end"
  >
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white/70 rounded-tl-[37px] rounded-tr-[37px] gap-2.5"
    >
      <h1
        class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-[#7e0000]"
      >
        Lencería
      </h1>
    </div>
  </section>

  <!-- Services Section -->

  <section
    class="lg:max-w-[1200px] grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-10 lg:gap-y-5 xl:px-0 w-full mx-auto pt-[100px] lg:pt-[100px] justify-evenly"
  >
    {
      services.map((service) => {
        return (
          <div class="w-[170px] lg:w-full md:w-full col-span-1 max-w-[358px] mx-auto flex rounded-md  hover:bg-[#7e0000]/10 px-2 lg:px-4 py-2 bg-[#f6ebdd]/20   flex-col justify-center items-center gap-2 md:gap-5 md:px-4 md:py-4">
            <div class="w-full h-full">
              <img
                src={service.img}
                class="rounded-md object-cover object-center w-full h-full"
              />
            </div>
            <p class="md:text-[22px] tracking-tight font-jost text-[#7e0000] leading-[33px] text-center  rounded-full px-3 flex gap-2 font-semibold items-center">
              {" "}
              <img
                src={service.priceIco}
                class="object-contain object-center w-6 h-6 text-sm"
              />
              {service.price}
            </p>

            <p class="md:text-[22px] tracking-tight leading-[33px] text-center rounded-xl px-3 text-text-blue font-jost">
              {" "}
              {service.text}
            </p>

            <p class="flex items-center gap-4 hover:bg-white p-2 rounded-xl">
              <LuShoppingCart className="text-[#7e0000] text-2xl" />
              <a
                href={service.link}
                target="about_blank"
                class="font-jost text-xl font-medium text-text-blue"
              >
                Comprar
              </a>
            </p>
          </div>
        );
      })
    }
  </section>
</MainLayout>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
